/* 메인 슬라이드 */
main article>.image{
    height: 440px;
}
main article>.texts{
    top: 180px;
}
main article>.texts>h2{
    font-size: 24px;
    line-height: 30px;
}
main article>.texts>p{
    font-size: 12px;
    line-height: 20px;
}
.mainWrap>ul{
    width: calc(100% / 4);
    bottom: 20px;
}
/* 컨텐츠 */
.cntWrap{
    margin-top: 40px;
}
.cnt01>header>h2{
    font-size: 24px;
    line-height: 40px;
}
.cnt01 .artTop{
    /* justify-content: space-around; */
    margin-top: 20px;
}
.cnt01 .artTop>article{
    width: calc(100% / 2 - 10px);
    margin-top: 20px;
}
.cnt01 .artTop .image{
    height: 120px;
    border-radius: 5px;
}
.cnt01 .artTop .texts{
    left: 5px;
    font-size: 14px;
    line-height: 30px;
}
.cnt01 .artBtm{
    margin-top: 60px;
}
.cnt01 .artBtm>article{
    display: block;
}
.cnt01 .artBtm>article:nth-child(2){
    margin-top: 40px;
}
.cnt01 .artBtm .image{
    width: 100%;
    height: 200px;
}
.cnt01 .artBtm .texts{
    width: 100%;
}
.cnt01 .artBtm .texts>h3{
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}
.cnt01 .artBtm .texts>p{
    font-size: 14px;
    line-height: 20px;
}
.cnt02>header::after{
    height: 1px;
}
.cnt02>header>h2{
    font-size: 14px;
    line-height: 40px;
}
.cnt02>section{
    margin-top: 40px;
    display: block;
    padding-bottom: 15px;
}
.cnt02>section>article{
    width: calc(100% - 20px);
    margin: 0 auto;
    padding-top: 15px;
}
.cnt02>section>article>.texts{
    padding-left: 5px;
}
.cnt02>section>article>.texts>h3{
    font-size: 14px;
    line-height: 20px;
}
.cnt02>section>article:nth-last-child(1){
    display: block;
}
.cnt02>section>article>.video{
    height: 200px;
}
/* 유튜브
.youtubeWrap .btn{
    font-size: 32px;
    line-height: 40px;
    margin-top: 20px;
}
.youtubeWrap>.video{
    margin-top: 80px;
} */