/* 헤더 */
.hdrWrap>header{
    line-height: 80px;
}
header>.logo{
    width: calc(100% / 4 * 1.8);
    height: 80px;
}
.hdrWrap h4{
    font-size: 32px;
    width: calc(100% / 4);
}
/* 메뉴 */
.mobileWrap>.menu{
    width: 100vw;
}
.mobileWrap .mnTop{
    line-height: 80px;
    padding: 0 15px;
}
.mobileWrap .mnTop>.logo{
    height: 80px;
    width: 150px;
}
.mobileWrap .mnTop>h4{
    font-size: 32px;
}
.mobileWrap .mnBtm>ul>li:nth-child(odd){
    line-height: 50px;
    font-size: 16px;
}
.mobileWrap .mnBtm>ul>li:nth-child(even){
    line-height: 30px;
    font-size: 14px;
}
.mobileWrap .mnBtm>ul>li:nth-child(even).show{
    height: 180px;
}
/* 메인 */
.mainTop>.image{
    height: 240px;
}
.mainTop>.texts{
    top: 120px;
}
.mainTop h2{
    font-size: 24px;
    line-height: 80px;
}
.mainBtm>ul>li:nth-child(1):after{
    height: 25px;
}
.mainBtm>ul>li:nth-child(4):after{
    display: none;
}
.mainBtm>ul>li:nth-child(2n+3):after{
    height: 25px;
    display: block;
    content: '';
    width: 1px;
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.mainBtm>ul>li::before{
    height: 25px;
}
.mainBtm>ul>li{
    width: calc(100% / 2);
    line-height: 40px;
    font-size: 12px;
}
/* 컨텐츠1 */
.cntWrap{
    margin-top: 40px;
}
.content>header{
    font-size: 14px;
    line-height: 40px;
}
.content>header li::after{
    width: 60px !important;
    height: 2px !important;
}
.content>section{
    margin-top: 40px;
}
.cnt01 .image{
    width: 100%;
}
.cnt01 .texts{
    margin-top: 40px;
    line-height: 20px;
    font-size: 14px;
}
/* 배너 */
.bnrWrap{
    margin-top: 40px;
    padding: 40px 0;
}
.banner{
    flex-wrap: wrap;
}
.banner>article{
    width: calc(100% / 2 - 5px);
}
.banner>article:nth-child(2)~article{
    margin-top: 20px;
}
.banner .image{
    height: 120px;
}
.banner .texts{
    margin-top: 10px;
    font-size: 12px;
}
/* 컨텐츠2 */
.cnt02>header h2::after{
    width: 60px !important;
    height: 2px !important;
}
.cnt02 section>article{
    display: block;
}
.cnt02 .txtLeft,.txtRight{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cnt02 .txtRight{
    margin-top: 35px;
}
.cnt02 .texts:nth-child(2){
    margin-top: 0;
}
.cnt02 .texts{
    width: calc(100% / 2 - 5px);
    height: 180px;
    font-size: 12px;
    line-height: 20px;
    padding: 20px 0 0 ;
}
.cnt02 .texts>h3{
    width: calc(100% / 2 * 1.5);
    line-height: 30px;
}
.cnt02 .texts>ul{
    padding-left: 15px;
}
.cnt02 .image{
    height: 280px;
    width: 100%;
    margin-top: 20px;
}
/* 컨텐츠3 */
.cnt03>header::after{
    height: 1px;
}
.cnt03>header>h2{
    font-size: 14px;
    line-height: 40px;
}
.cnt03>section{
    display: block;
}
.cnt03>section>article{
    width: 100%;
}
.cnt03>section>article:nth-child(2){
    margin-top: 40px;
}
.cnt03>section>article>.video{
    height: 200px;
}
/* 풋터 */
.ftrWrap{
    margin-top: 40px;
}
.footer{
    padding: 40px 0px;
    font-size: 12px;
    line-height: 20px;
}
.footer .logo{
    width: calc(100% / 4 * 1.8);
    height: 80px;
}
.footer ul{
    width: 100%;
    min-width: auto;
}
.footer ul>li{
    margin-left: 0px;
}
.footer span{
    display: none;
}
.footer ul>li:nth-child(6){
    margin-left: 15px;
}
.footer>h4{
    line-height: 40px;
}
.fixed{
    bottom: 15px;
    right: 15px;
}
.youtube{
    width: 50px;
    height: 50px;
}
.top{
    width: 50px;
    height: 50px;
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
}