/* 메인 */
main{
    text-align: center;
    position: relative;
}
.mainTop{
    position: relative;
}
.mainTop>.image{
    width: 100%;
    height: min(12rem,480px);
    background-image: url('../image/recyclingrobotsystem_main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainTop>.texts{
    position: absolute;
    top: min(5rem,200px);
    left: 0;
    right: 0;
    margin: auto;
}
.mainTop h2{
    font-size: min(4.8em,48px);
    line-height: min(2rem,80px);
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.mainBtm{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(51,51,51,.8);
}
.mainBtm>ul{
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.mainBtm>ul>li:nth-child(1):after{
    display: block;
    content: '';
    width: 1px;
    height: min(1rem,40px);
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.mainBtm>ul>li::before{
    display: block;
    content: '';
    width: 1px;
    height: min(1rem,40px);
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.mainBtm>ul>li{
    width: calc(100% / 3);
    font-size: min(1.6em,16px);
    line-height: min(2rem,80px);
    text-transform: uppercase;
    position: relative;
    color: #fff;
    cursor: pointer;
}
.mainBtm>ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
}
.mainBtm>ul>li:nth-child(4){
    color: #4cb300;
    font-weight: 600;
    background-color: #fff;
}
/* 컨텐츠 */
.cntWrap{
    margin-top: min(2rem,80px);
}
.content{
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
}
.content>header{
    font-size: min(2.4em,24px);
    line-height: min(1rem,40px);
    text-align: center;
    text-transform: uppercase;
}
.content>header>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% / 16 * 12);
    margin: 0 auto;
}
.content>header li{
    width: calc(100% / 3);
    text-align: center;
    position: relative;
}
.content>header li:nth-child(1){
    font-weight: 700;
}
.content>header li:nth-child(1)~::before{
    display: inline-block;
    content: '/';
    font-weight: normal;
    position: absolute;
    left: 0;
}
.content>header li:nth-child(4)::before{
   display: none;
}
.content>header li:nth-child(1):after{
    display: block;
    content: '';
    width: calc(100% / 4);
    height: 3px;
    background-color: #4cb300;
    margin: 0 auto;
}
.content>section{
    margin-top: min(3rem,120px);
}
section h3{
    font-size: min(3.2em,32px);
    line-height: min(1rem,40);
    font-weight: 700;
}
section p{
    font-size: min(1.8em,18px);
    line-height: min(0.75rem,30px);
    margin-top: min(1rem,40px);
}
.content article{
    display: flex;
    justify-content: space-between;
}
.content article:nth-child(1)~article{
    margin-top: min(4rem,160px);
}
.content article:nth-child(even){
    direction: rtl;
}
.content article:nth-child(even) .texts{
    direction: ltr;
}
.content article h3{
    display: flex;
    justify-content: center;
}
.content article h3>em{
    line-height: min(0.5rem,20px);
    margin-top: min(0.25rem,10px);
    margin-right: 20px;
    font-size: min(2.4em,24px);
    color: #4cb300;
}
.content article h3>em::after{
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #4cb300;
    margin-top: min(0.2rem,5px);
}
.content article h5{
    margin-top: min(1rem,40px);
    font-size: min(2.2em,22px);
    line-height: min(1rem,40px);
}
.content article ul{
    display: flex;
    flex-wrap: wrap;
}
.content article ul>li{
    width: 50%;
    font-size: min(2.2em,22px);
    line-height: min(1.5rem,30px);
}
.content article ul>li::before{
    display: inline;
    content: '•';
    margin-right: 10px;
}
.content article img{
   margin-top: min(1rem,40px);
   width: 100%;
}
.content article>.image{
    width: 50%;
    height: min(13rem,520px);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content article>.image.i1{
    background-image: url('../image/sub1_cnt1_1.png');
}
.content article>.image.i2{
    background-image: url('../image/sub1_cnt1_2.jpg');
}
.content article>.image.i3{
    background-image: url('../image/sub1_cnt1_3.png');
}
.content article>.image.i4{
    background-image: url('../image/sub1_cnt1_4.jpg');
}
.content article>.image.i5{
    background-image: url('../image/sub1_cnt1_5.jpg');
}
.content article>.image.i6{
    background-image: url('../image/sub1_cnt1_6.jpg');
}
.content article>.texts{
    width: calc(100% / 16 * 7.5);
}