/* 메인 */
main{
    text-align: center;
    position: relative;
}
.mainTop{
    position: relative;
}
.mainTop>.image{
    width: 100%;
    height: min(12rem,480px);
    background-image: url('../image/machinevision_main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainTop>.texts{
    position: absolute;
    top: min(5rem,200px);
    left: 0;
    right: 0;
    margin: auto;
}
.mainTop h2{
    font-size: min(4.8em,48px);
    line-height: min(2rem,80px);
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.mainBtm{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(51,51,51,.8);
}
.mainBtm>ul{
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.mainBtm>ul>li:nth-child(1):after{
    display: block;
    content: '';
    width: 1px;
    height: min(1rem,40px);
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.mainBtm>ul>li::before{
    display: block;
    content: '';
    width: 1px;
    height: min(1rem,40px);
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.mainBtm>ul>li{
    width: calc(100% / 2);
    font-size: min(1.6em,16px);
    line-height: min(2rem,80px);
    text-transform: uppercase;
    position: relative;
    color: #fff;
    cursor: pointer;
}
.mainBtm>ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
}
.mainBtm>ul>li:hover{
    color: #4cb300;
    font-weight: 600;
    background-color: #fff;
}

/* 컨텐츠 공통 */
.cntWrap{
    margin-top: min(3rem,120px);
}
.content{
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
}
.content>header{
    line-height: min(1rem,40px);
    text-align: center;
    text-transform: uppercase;
    width: calc(100% / 16 * 12);
    margin: 0 auto;
}
.content>header h2{
    font-size: min(2.4em,24px);
    font-weight: 700;
    width: calc(100% / 3);
    margin: 0 auto;
}
.content>header h2::after{
    display: block;
    content: '';
    width: calc(100% / 4);
    height: 3px;
    background-color: #4cb300;
    margin: 0 auto;
}
.content>header p{
    font-size: min(2.2em,22px);
    margin-top: min(1rem,40px);
}
.content>section{
    margin-top: min(2rem,80px);
}
section h3{
    font-size: min(2.4em,24px);
    line-height: min(1rem,40);
    font-weight: 700;
}
section p{
    font-size: min(1.8em,18px);
    line-height: min(0.75rem,30px);
}

/* 컨텐츠1 */
.cnt01 section{
    display: flex;
    justify-content: center;
}
.cnt01 article{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}
.cnt01 article > img{
    height: min(4.5rem,180px);
    width: fit-content;
    object-fit: contain;
}
.cnt01 article > img:nth-child(2){
    height: min(2.5rem,100px);
    margin: min(0.5rem,20px) auto;
}

/* 컨텐츠2 */
.cnt02 article{
    width: 100%;
    height: 100%;
    border-radius: min(1.25rem,50px);
    border: 5px solid #4cb300;
}
.cnt02 article img{
    display: block;
    width: 80%;
    height: fit-content;
    object-fit: contain;
    margin: min(1.5rem,60px) auto;
}

/* 컨텐츠3 */
.cnt03 .artTop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.cnt03 .artTop::after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0 auto;
}
.cnt03 .artTop>article{
    width: 25%;
    cursor: pointer;
    padding-bottom: min(1rem,40px);
}
.cnt03 .artTop img{
    height: min(6rem,240px);
    width: fit-content;
    object-fit: contain;
}
.cnt03 .artTop .texts>h3{
    font-size: min(1.8rem,18px);
    line-height: min(0.75rem,30px);
    font-weight: 600;
}
.artBtm>.prodInfo{
    display: flex;
    justify-content: space-between;
    padding: min(2rem,80px) 0;
}
.artBtm>.prodInfo>.image{
    width: 50%;
}
.artBtm>.prodInfo img{
    display: block;
    height: min(12rem,480px);
    width: fit-content;
    object-fit: contain;
    margin: 0 auto;
}
.artBtm>.prodInfo>.texts{
    width: 50%;
}
.artBtm>.prodInfo>.texts>h3{
    font-size: min(3.2em,32px);
    line-height: min(1.5rem,60px);
    font-weight: 700;
}
.artBtm>.prodInfo>.texts>p{
    line-height: min(0.5rem,20px);
    font-size: min(1.6em,16px);
    width: calc(100% / 8 * 7.5);
    margin-top: min(0.5rem,20px);
}
.artBtm>.prodInfo>.texts>p>span{
    display: block;
    text-indent: 2%;
    line-height: min(0.5rem,20px);
}
.artBtm>.detailInfo{
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
.artBtm>.detailInfo>.texts{
    display: flex;
    justify-content: space-between;
    line-height: min(1.25rem,50px);
    background-color: #eee;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.artBtm>.detailInfo>.texts>h3{
    font-size: min(1.8em,18px);
    width: 100%;
    text-transform: capitalize;
    font-weight: normal;
}
.artBtm>.detailInfo>.texts>.btn{
    width: calc(100% / 16 * 0.6);
    border-left: 1px solid #ccc;
    cursor: pointer;
}
.artBtm>.detailInfo>.imgBox{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: #fff;
    
}
.artBtm>.detailInfo>.imgBox.on{
    max-height: 1000vw;
    border-bottom: 1px solid #ccc;
}
.artBtm>.detailInfo>.imgBox>.image{
    width: calc(100% / 16 * 14);
    margin: min(1.25rem,50px) auto;  
}
img{
    max-width: 100%;
    height: auto;
}

/* 컨텐츠4 */
.cnt04 .artTop{
    display: flex;
    justify-content: space-between;
}
.cnt04 .artTop article{
    width: calc(100% / 3 - 20px);
    position: relative;
}
.cnt04 .artTop .image{
    width: 90%;
    margin: 0 auto;
}
.cnt04 .artTop .image img{
    width: 100%;
    height: fit-content;
    object-fit: contain;
}
.cnt04 .artTop .texts{
    width: 80%;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.cnt04 .artTop .texts p{
    text-align: center;
    font-size: min(2.2em,22px);
    line-height: min(1rem,40px);
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}
.cnt04 .artBtm{
    margin-top: min(3rem,120px);
}
.cnt04 .artBtm .image{
    width: 50%;
    margin: 0px auto;
}
.cnt04 .artBtm img{
    width: 100%;
    height: fit-content;
}
.cnt04 .artBtm .texts{
    text-align: center;
    margin-top: min(1.5rem,60px);
}
.cnt04 .artBtm .texts p {
    font-size: min(2.2em,22px);
    line-height: min(1rem,40px);
    font-weight: 600;
    color: #0070c0;
}

/* 컨텐츠5 */
.cnt05 section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cnt05 article{
    display: flex;
    width: 47.5%;
    background: linear-gradient(#ffffff, rgb(224, 224, 224));
    border-radius: min(1.5rem,60px);
    padding: 10px;
    margin-bottom: min(1.5rem,60px);
    border: 1px solid rgb(224, 224, 224);
}
.cnt05 article:nth-child(n+5){
    margin-bottom: 0px;
}
.cnt05 .image{
    height: min(2rem,80px);
    position: relative;
}
.cnt05 .image img{
    width: fit-content;
    height: 100%;
    object-fit: contain;
}
.cnt05 .image span{
    font-size: min(3.2em,32px);
    line-height: min(1rem,40px);
    height: fit-content;
    width: fit-content;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.cnt05 .texts{
    margin-left: 20px;
}
.cnt05 .texts p{
    color: #0070c0;
    font-size: min(2.2em,22px);
    line-height: min(1rem,40px);
    font-weight: 600;
}

/* 컨텐츠6 */
.cnt06 section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cnt06 article{
    width: 45%;
    margin-bottom: min(1.5rem,60px);
}
.cnt06 article:nth-child(n+5){
    margin-bottom: 0px;
}
.cnt06 .texts h3{
    line-height: min(1rem,40px);
}
.cnt06 .texts p{
    font-size: min(2.2em,22px);
    line-height: min(1rem,40px);
}
.cnt06 .image{
    margin-top: min(0.25rem,10px);
}
.cnt06 .image img{
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

/* 컨텐츠7 */
.cnt07 .artTop{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cnt07 .artTop article{
    width: 26%;
    padding: 15px;
    background: linear-gradient(#ffffff, rgb(224, 224, 224));
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    margin-bottom: min(1.5rem,60px);
    height: min(10.5rem,420px);
}
.cnt07 .artTop .image{
    position: relative;
}
.cnt07 .artTop .image h3{
    line-height: min(1.5rem,60px);
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    letter-spacing: 2.5px;
}
.cnt07 .artTop img{
    width: 100%;
    height: min(1.5rem,60px);
}
.cnt07 .artTop .texts{
    width: 80%;
    margin: min(1rem,40px) auto 0px;
    font-size: min(2.2em,22px);
    line-height: min(1rem,40px);
}
.cnt07 .artBtm{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: min(1.5rem,60px);
}
.cnt07 .artBtm article{
    width: 21%;
    margin-bottom: min(1.5rem,60px);
}
.cnt07 .artBtm .texts span{
    display: block;
    font-size: min(2.2em,22px);
    line-height: min(1rem,40px);
    margin-top: min(0.25rem,10px);
    text-align: center;
}
