/* 컨텐츠 */
.cntWrap{
    margin-top: min(2rem,80px);
}
.content{
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
}
.content>header{
    font-size: min(2.4em,24px);
    line-height: min(1rem,40px);
    text-align: center;
    text-transform: uppercase;
}
.content>header>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% / 16 * 12);
    margin: 0 auto;
}
.content>header li{
    width: calc(100% / 3);
    text-align: center;
    position: relative;
}
.content>header .tab--link li{
    cursor: pointer;
}
.content>header li:nth-child(1)~::before{
    display: inline-block;
    content: '/';
    font-weight: normal;
    position: absolute;
    left: 0;
}
.content>header li:nth-child(3n + 1)::before{
   display: none;
}
.content>header li.on {
    font-weight: 700;
}
.content>header li.on:after{
    display: block;
    content: '';
    width: calc(100% / 4);
    height: 3px;
    background-color: var(--color-point);
    margin: 0 auto;
}
.content>section{
    margin-top: min(1rem,40px);
}
.content .artTop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.content .artTop::after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0 auto;
}
.content .artTop>article{
    width: 25%;
    padding-bottom: min(1rem,40px);
    cursor: pointer;
}
.content .artTop .image{
    height: min(6rem,240px);
    width: 60%;
    margin: 0 auto;
}
.content .artTop .texts>h3{
    font-size: min(1.8rem,18px);
    line-height: min(1rem,40px);
    font-weight: 600;
}
.artBtm>.prodInfo{
    display: flex;
    justify-content: space-between;
    padding: min(2rem,80px) 0 1rem;
}
.artBtm>.prodInfo>.image{
    width: 46%;
    align-content: center;
    /* height: min(12rem,480px); */
    padding: min(1rem,40px);
}
.artBtm>.prodInfo>.texts{
    width: 54%;
    align-content: center;
    padding: min(1rem,40px);
}
.artBtm>.prodInfo>.texts h3{
    font-size: min(3.2em,32px);
    line-height: min(1.5rem,60px);
    font-weight: 700;
}
.artBtm>.prodInfo>.texts h5{
    line-height: min(1rem,40px);
    font-size: min(2.0em,20px);
    font-weight: 600;
    color: var(--color-point);
    margin-top: min(0.5rem,20px);
}
.artBtm>.prodInfo>.texts p {
    line-height: min(0.6rem,30px);
    font-size: min(1.6em, 16px);
    width: calc(100% / 8 * 7);
}
/* .artBtm>.prodInfo>.texts p:last-child {
    margin-bottom: 0;
} */
.artBtm>.prodInfo>.texts .bullet {
    margin-top: 0.2rem;
    position: relative;
    padding-left: 1em;
}
.artBtm>.prodInfo>.texts .bullet::before {
    position: absolute;
    left: 2px;
    top: calc(1.6em / 2);
    width: 2px;
    height: 2px;
    background-color: black;
    content: '';
}
/* specifications */
.artBtm>.detailInfo{
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
.artBtm>.detailInfo>.texts{
    display: flex;
    justify-content: space-between;
    line-height: min(1.25rem,50px);
    background-color: #eee;
    text-align: center;
    font-size: min(1.8em,18px);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.artBtm>.detailInfo>.texts>h3{
    width: 100%;
    text-transform: capitalize;
}
.artBtm>.detailInfo>.texts>.btn{
    width: calc(100% / 16 * 0.6);
    border-left: 1px solid #ccc;
    cursor: pointer;
}
.artBtm>.detailInfo>.imgBox{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.artBtm>.detailInfo>.imgBox.on{
    max-height: 200vw;
    border-bottom: 1px solid #ccc;
}
.artBtm>.detailInfo>.imgBox>.image{
    width: 94%;
    margin: min(1.25rem,50px) auto;  
}
img{
    max-width: 100%;
    height: auto;
}