/* 컨텐츠 */
.cntWrap{
    margin-top: min(2rem,80px);
}
.content{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

/* artTop */
.content section{
    margin-top: min(1.3rem,50px);
}
.content .artTop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.content .artTop::after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0 auto;
}
.content .artTop article{
    width: 25%;
    padding:0 2px min(1rem,40px);
    cursor: pointer;
}
.content .artTop .image{
    width: 60%;
    margin: 0 auto;
}
.content .artTop .texts {
    margin-top: 4px;
}
.content .artTop .texts h3{
    font-size:var(--font-responsive-20to15);
    line-height: min(1rem,40px);
    font-weight: 600;
}

/* prodInfo */
.artBtm>.prodInfo{
    display: flex;
    justify-content: space-between;
    gap: min(2rem,80px);
    padding: min(2rem,80px) min(1.5rem,60px) min(1rem,40px);
}
.artBtm>.prodInfo>.image,
.artBtm>.prodInfo>.texts {
    flex: 1;

}
.artBtm>.prodInfo>.image {
    align-content: center;
    text-align: center;
    object-fit: contain;
}

.artBtm>.prodInfo>.texts{
    align-content: center;
}
.artBtm>.prodInfo>.texts div{
    margin-top: min(0.66rem,20px);
}
.artBtm>.prodInfo>.texts h3{
    font-size: var(--font-responsive-32to24);
    line-height: min(1.5rem,60px);
    font-weight: 700;
}
.artBtm>.prodInfo>.texts h5{
    line-height: min(1rem,40px);
    font-size: var(--font-responsive-20to15);
    font-weight: 600;
    color: var(--color-point);
}
.artBtm>.prodInfo>.texts .text,
.artBtm>.prodInfo>.texts .bullet {
    width: 95%;
    line-height: 1.7;
    font-size: var(--font-responsive-17to13);
}
.artBtm>.prodInfo>.texts .bullet {
    margin-top: 0.2rem;
    position: relative;
    padding-left: 1em;
}
.artBtm>.prodInfo>.texts .bullet.i0 {
    margin-top: 0.4rem;
}
.artBtm>.prodInfo>.texts .bullet::before {
    position: absolute;
    left: 2px;
    top: calc(1.6em / 2);
    width: 2px;
    height: 2px;
    background-color: black;
    content: '';
}


/* specifications */
.artBtm>.detailInfo{
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
.artBtm>.detailInfo>.texts {
    display: flex;
    justify-content: space-between;
    line-height: min(1.8rem, 60px);
    background-color: #eee;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.artBtm>.detailInfo>.texts>h3{
    width: 100%;
    font-size: var(--font-responsive-17to13);
    text-transform: capitalize;
}
.artBtm>.detailInfo>.texts>.btn{
    width: calc(100% / 16 * 0.6);
    font-size: min(0.6rem, 20px);
    border-left: 1px solid #ccc;
    cursor: pointer;
}
.artBtm>.detailInfo>.imgBox{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.artBtm>.detailInfo>.imgBox.on{
    max-height: 200vw;
    border-bottom: 1px solid #ccc;
}
.artBtm>.detailInfo>.imgBox>.image{
    width: 98%;
    margin: min(1.25rem,50px) auto;  
}
img{
    max-width: 100%;
    height: auto;
}