/* 컨텐츠 */
/* artTop */
.content .artTop article{
    width: calc(100% / 3);
}

/* prodInfo */
.artBtm>.prodInfo{
    flex-wrap: wrap;
    gap: 0.8rem;
    padding-left: 0;
    padding-right: 0;
}
.artBtm>.prodInfo>.image{
    min-width: 380px;
    max-width: 482px;
    margin: 0 auto;
}
.artBtm>.prodInfo>.texts{
    min-width: 400px;
    padding: 0;
}
.artBtm>.prodInfo>.texts>h3{
    font-size: var(--font-responsive-24to17);
    line-height: min(1rem,40px);
}
.artBtm>.prodInfo>.texts>h5{
    font-size: min(1.6em,16px);
    line-height: min(0.5rem,20px);
    margin: 20px 0 5px;
}
.artBtm>.prodInfo>.texts .text,
.artBtm>.prodInfo>.texts .bullet {
    width: 98%;
    line-height: 1.5;
}


/* specifications */
.artBtm>.detailInfo>.texts{
    line-height: min(1.5rem,40px);
}
.artBtm>.detailInfo>.texts>.btn{
    width: calc(100% / 8 * 0.5);
}
.artBtm>.detailInfo>.imgBox>.image{
    margin: min(1rem,40px) auto; 
}