/* ======== 헤더 ======== */
.hdrWrap{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}
.hdrWrap header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: calc(100% / 16 * 2);
    height: var(--header-height);
    background-image: url('../../image/logo_black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 44%;
    cursor: pointer;
}
.hdrWrap .nav{
    display: flex;
    justify-content: space-around;
    width: calc(100% / 12 * 6);
    text-transform: uppercase;
    font-size: var(--font-responsive-17to13);
    font-weight: 700;
    color: #333;
}
.hdrWrap .nav>li{
    cursor: pointer;
    text-align: center;
    width: calc(100% / 3);
}
.hdrWrap h4{
    font-size: min(3.2em,32px);
    cursor: pointer;
    width: calc(100% / 16);
    text-align-last: right;
    display: none;
}
/* 메뉴 */
.menuWrap{
    position: fixed;
    top: 0;
}
.pcWrap{
    background-color: rgb(225 225 225 / 95%);
    left: 0;
    width: 100%;
    height: 0;
    z-index: 19;
    overflow: hidden;
    transition: all 0.3s;
}
.mobileWrap{
    display: none;
}
.pcWrap.on{
    height: min(13.8rem,440px);
}
.pcWrap .menu{
    padding: var(--header-height) 0 min(0.5rem,20px);
}
.pcWrap .menu>.mnBox{
    display: flex;
    justify-content: left;
    width: calc(100% / 12 * 6);
    color: #333;
    margin: 4px 0 0 auto;
}
.pcWrap .menu>.mnBox>ul{
    text-align: center;
    font-size: var(--font-responsive-17to13);
    line-height: min(1.3rem,40px);
    width: calc(100% / 3);
}
.pcWrap .menu>.mnBox>ul>li:hover{
    color: var(--color-point);
    font-weight: 600;
}



/* ======== 풋터 ======== */
.ftrWrap{
    margin-top: min(2rem,80px);
    background-color: #ddd;
}
.footer{
    padding: min(1.2rem,40px) 0;
    color: #333;
}

.footer .flex-box {
    display: flex;
    gap: min(1.5rem,60px);
    /* justify-content: center; */
}

.footer .logo{
    width: calc(100% / 16 * 2);
    height: min(2rem,80px);
    background-image: url('../../image/logo_gray.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.footer ul{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 12px;
    /* min-width: 580px; */
    max-width: min(21rem, 600px);
}
.footer ul>li{
    font-size: var(--font-responsive-15to12);
}
.footer h4{
    font-size: var(--font-responsive-15to12);
    margin-top: min(1rem, 30px);
    justify-content: center;
}
.fixed{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
}
.youtube{
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../image/youtube.png');
}
.top{
    margin-top: 20px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: var(--color-point);
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}


/* ======== 태블릿 ======== */
@media (max-width: 1024px) {
    /* ======== 헤더 ======== */
    .hdrWrap>header{
        width: 90%;
        max-width: 700px;
    }
    header>.logo{
        width: calc(100% / 8 * 2);
    }
    .hdrWrap .nav{
        display: none;
    }
    .hdrWrap h4{
        display: block;
        width: calc(100% / 8 * 0.4);
    }
    
    /* 메뉴 */
    .mobileWrap{
        display: block;
        z-index: 30;
        left: 0;
        width: 100%;
        height: 0;
    }
    .mobileWrap>.mnbg{
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .mobileWrap>.menu{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 500px;
        margin-left: -500px;
        transition: all 0.5s;
    }
    .mobileWrap .mnTop{
        padding: 0px 15px;
        display: flex;
        justify-content: space-between;
        line-height: min(1.75rem,70px);
        background-color: #eee;
    }
    .mobileWrap .mnTop>.logo{
        width: 160px;
        height: min(1.75rem,70px);
        background-image: url('../../image/logo_black.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .mobileWrap .mnTop>h4{
        width: 32px;
        font-size: min(3.2em,32px);
    }
    .mobileWrap .mnBtm>ul>li{
        padding: 0px 15px;
        color: #333;
    }
    .mobileWrap .mnBtm>ul>li:nth-child(odd){
        line-height: min(1.5rem,60px);
        font-size: min(2.0em,20px);
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 0.2px solid #ddd;
    }
    .mobileWrap .mnBtm>ul>li:nth-child(odd).aco{
        color: #fff;
        background-color: var(--color-point);
    }
    .mobileWrap .mnBtm>ul>li:nth-child(even){
        line-height: min(1rem,40px);
        font-size: min(1.6em,16px);
        background-color: #eee;
        height: 0;
        overflow: hidden;
        transition: all 0.3s;
    }
    .mobileWrap .mnBtm>ul>li:nth-child(even).show{
        height: 240px;
    }

    /* ======== 풋터 ======== */
    .footer .logo{
        width: calc(100% / 5 * 1);
    }
    .footer ul{
        width: calc(100% / 5 * 4);
        min-width: auto;
    }
    .footer h4{
        text-align: center;
    }
} 

/* ======== 모바일 ======== */
@media (max-width: 480px) {
    /* ======== 헤더 ======== */
    .hdrWrap>header{
        line-height: var(--header-height-M);
    }
    header>.logo{
        width: calc(100% / 4 * 1.8);
        height: var(--header-height-M);
    }
    .hdrWrap h4{
        font-size: 32px;
        width: calc(100% / 4);
    }

    /* 메뉴 */
    .mobileWrap>.menu{
        width: 100vw;
    }
    .mobileWrap .mnTop{
        line-height: 80px;
        padding: 0 15px;
    }
    .mobileWrap .mnTop>.logo{
        height: 80px;
        width: 150px;
    }
    .mobileWrap .mnTop>h4{
        font-size: 32px;
    }
    .mobileWrap .mnBtm>ul>li:nth-child(odd){
        line-height: 50px;
        font-size: 16px;
    }
    .mobileWrap .mnBtm>ul>li:nth-child(even){
        line-height: 30px;
        font-size: 14px;
    }
    .mobileWrap .mnBtm>ul>li:nth-child(even).show{
        height: 180px;
    }

    /* ======== 풋터 ======== */
    .ftrWrap{
        margin-top: 40px;
    }
    .footer{
        padding: 40px 0px;
    }
    .footer .flex-box {
        display: block;
    }
    .footer .logo{
        width: calc(100% / 4 * 1.8);
        height: 80px;
    }
    .footer ul{
        width: 100%;
        min-width: auto;
    margin-top: min(1rem, 24px);
}
    .footer h4{
        line-height: 40px;
        text-align: left;
    }
    .fixed{
        bottom: 15px;
        right: 15px;
    }
    .youtube{
        width: 50px;
        height: 50px;
    }
    .top{
        width: 50px;
        height: 50px;
        font-size: 14px;
        line-height: 25px;
        margin-top: 10px;
    }
}