.mainWrap {
    margin-top: var(--header-height);
}
main{
    text-align: center;
    position: relative;
}
.mainTop{
    position: relative;
}
.mainTop>.image{
    width: 100%;
    height: min(12rem,480px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}

.mainTop>.image.product {
    background-size: 120%;
}

#foods .mainTop>.image{
background-image: url('../../../image/heading/solution.jpg');
}

#location .mainTop>.image,
#greeting .mainTop>.image{
background-image: url('../../../image/heading/company.jpg');
}

.mainTop>.texts{
    position: absolute;
    left: 50%;
    bottom: min(0.6rem, 24px);
    width: 100%;
    max-width: 1440px;
    padding: 0 10px;
    transform: translateX(-50%);
}

.mainTop.text-center >.texts{
    top: min(5rem,200px);
}

.mainTop h2{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: min(1.6rem,48px);
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #ff2b3c;
    text-shadow: -3px 4px 5px rgba(0,0,0,.5);
}

.mainTop.text-center h2 {
    text-align: center;
    color: #fff;
}


/* ======== tablet ======== */
@media (max-width: 1024px) {
    .mainWrap {
        margin-top: var(--header-height);
    }
    .mainTop>.image{
        height: min(10rem,400px);
        height: min(8.5rem,340px);
        background-size: cover;
    }

    .mainTop.text-center>.texts{
        top: min(3rem,150px);
    }

    .mainTop h2{
        font-size: min(1.2rem,36px);
        line-height: min(1rem,40px);
    }
}

/* ======== mobile ======== */
@media (max-width: 480px) {
    .mainWrap {
        margin-top: var(--header-height-M);
    }
    .mainTop>.image{
        height: min(13rem, 260px);
    }
    .mainTop.text-center>.texts{
        top: min(3.2rem,66px);
    }
    .mainTop h2{
        font-size: 24px;
    }
}