/* 메인 슬라이드 */
main article .image{
    height: min(12rem, 610px);
}
main article .image.i1{
    background-image: url('../../../image/main/banner1_tab.jpg');
}
main article .image.i2{
    background-image: url('../../../image/main/banner2_tab.jpg');
}
main article .image.i3{
    background-image: url('../../../image/main/banner3_tab.jpg');
}
main article .image.i4{
    background-image: url('../../../image/main/banner4_tab.jpg');
}
main article>.texts{
    left: max(calc((100vw - 700px) / 2),calc((100vw - 90%) / 2));
}
main article>.texts>h2{
    font-size: min(4.2em,42px);
}
main article>.texts>p{
    width: 100%;
    font-size: min(1.8em,18px);
}
.mainWrap .pagination{
    width: calc(100% / 8 * 1.2);
    bottom: min(1rem,40px);
}


/* 컨텐츠 */
.content>header>h2{
    font-size: min(4.2em,42px);
    line-height: min(1.5rem,60px);
}
section{
    margin-top: min(1rem,40px);
}
.title{
    display: none;
}
.cnt01 section>article,.cnt03 section>article{
    display: block;
}

/* 컨텐츠1 */
.cnt01 .image {
    display: none;
    width: 100%;
    height: min(8rem, 320px);
}

.cnt01 .grid {
    width: 100%;
}

.cnt01 .grid li {
    height: min(6rem, 260px);
}

.cnt01 .grid>li .circle {
    left: 0;
    top: -20%;
    width: 100%;
    height: 36%;
}
.cnt01 .grid>li .btn {
    opacity: 1;
}
.cnt01 .grid>li .item__inner {
    transform: translateY(0);
}

.cnt01 .grid li .tit {
    margin-top: min(0.4rem, 12px);
    font-size: min(0.6rem, 17px);
}

.cnt01 .grid>li .btn a {
    padding: 0.1rem 0 0.22rem;
    font-size: var(--font-size-xs);
}


/* 컨텐츠2 */
.cnt02 section>.artGroup>article{
    padding-top: min(1rem,40px);
}
.cnt02 section>.artGroup>article .image{
    height: min(4.7rem, 239px);
}
.cnt02 article>.texts{
    margin-top: min(1rem,40px);
}
.cnt02 article>.texts>h3{
    font-size: min(2.4em,24px);
    line-height: min(1rem,40px);
}
.cnt02 article>.texts>p{
    font-size: min(0.6rem, var(--font-size-sm));
    margin-top: min(0.5rem,20px);
    word-break: break-all;
}
.cnt02 article>.texts>.btn{
    width: 54%;
    min-width: 84px;
    font-size: min(0.6rem, var(--font-size-xs));
    line-height: min(1.2rem, 30px);
    padding-left: 0px;
    text-align: center;
}
.cnt02>section>.slideBtn{
    width: calc(100% / 8 * 3.7);
    height: min(1rem,40px);
    top: min(3rem,120px);
    font-size: min(3.6rem,36px);
    line-height:  min(1rem,40px);
}
/* 컨텐츠3 */
.cnt03 .video{
    width: 100%;
    height: min(12rem,480px);
    margin-top: min(1rem,40px);
}
.cnt03 article>.texts{
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
}
.cnt03 article>.texts>ul{
    margin-top: 0px;
}
.cnt03 article>.texts>ul>li{
    font-size: min(2.4em,24px);
    line-height: min(1.5rem,60px);
}
.cnt03 article>.texts>ul>li.show>span{
    width: 53px;
    height: 53px;
    left: auto;
    right: 0;
}
.cnt03 article>.texts>ul>li.show::before{
    width: 50px;
    height: 50px;
    left: auto;
    right: 0;
    border: 1px dashed #ccc;
}
.cnt03 article>.texts>ul>li.show::after{
    width: calc(100% / 8 * 1.5);
}
.cnt03 article>.texts>ul>li::after{
    left: auto;
    right: 30px;
}
.cnt03 article>.texts>ul>li>h3{
    height: min(1.5rem,60px);
    width: calc(100% / 8 * 5);
}