.artGroup{
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

/* 메인 슬라이드 */
.mainWrap{
    margin-top: var(--header-height);
    position: relative;
}
main{
    width: 100%;
    overflow: hidden;
}
main>.artGroup{
    width: 400%;
    display: flex;
    justify-content: space-between;
}
main article{
    width: calc(100% / 4);
    position: relative;
}
main article .image{
    width: 100%;
    height: 67vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main article .image.i1{
    background-image: url('../../../image/main/banner1.jpg');
}
main article .image.i2{
    background-image: url('../../../image/main/banner2.jpg');
}
main article .image.i3{
    background-image: url('../../../image/main/banner3.jpg');
}
main article .image.i4{
    background-image: url('../../../image/main/banner4.jpg');
}

main article .texts{
    position: absolute;
    top: min(8rem,320px);
    left: max(calc((100vw - 1420px) / 2),calc((100vw - 80%) / 2));
    color: #fff;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
}
main article .texts>h2{
    font-size: min(6.0em,60px);
    line-height: min(1.5rem,60px);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    opacity: 0%;
    transition: all 0.4s;

}
main article .texts>h2.active{
    margin-top: 0px;
    opacity: 100%;
}
main article .texts>p{
    width: calc(100% / 16 * 7.5);
    font-size: var(--font-responsive-24to17);
    line-height: min(1rem,40px);
    margin-top: 60px;
    opacity: 0%;
    transition: all 0.4s;
}
main article .texts>p.active{
    margin-top: min(0.5rem,20px);
    opacity: 100%;
}
.mainWrap>ul{
    display: flex;
    justify-content: space-between;
    width: calc(100% / 16 * 1.2);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 36px;
    min-width: 120px;
}
.mainWrap>ul>li{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.mainWrap>ul>li.show{
    background-color: var(--color-point);
    width: 30px;
}

/* 컨텐츠 공통*/
.cntWrap{
    margin-top: min(3rem,120px);
}
.content>header>h2{
    font-size: min(5.2em,52px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-transform: capitalize;
}
section{
    margin-top: min(2rem,80px);
}
.title{
    text-transform: uppercase;
    font-weight: 700;
}
.title>h4{
    font-size: min(3.6em,36px);
    line-height: min(1.5rem,80px);
}
.title>span{
    font-size: min(3.2em,32px);
    line-height: min(1rem,40px);
    color: var(--color-point);
}
.cnt01 section>article,.cnt03 section>article{
    display: flex;
    justify-content: space-between;
}
.image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 컨텐츠1 */
.cnt01 .title {
    padding-bottom: min(0.5rem,20px);
}
.cnt01 .image {
    width: calc(460 / 1420 * 100%);
    background-image: url('/image/main/solution_foods.jpg');
    transition: all 0.3s;
}
.cnt01 .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: var(--color-point);
    width: calc(960 / 1420 * 100%);
    padding: 1px;
}
.cnt01 .grid>li {
    position: relative;
    overflow: hidden;
    height: min(9rem, 260px);
    text-align: center;
    align-content: center;
    background-color: #fff;
}

.cnt01 .grid>li:hover .circle,
.cnt01 .grid>li.on .circle {
    left: 0;
    top: -20%;
    width: 100%;
    height: 36%;
}
.cnt01 .grid>li:hover .btn, 
.cnt01 .grid>li.on .btn {
    opacity: 1;
}
.cnt01 .grid>li:hover .item__inner, 
.cnt01 .grid>li.on .item__inner {
    transform: translateY(0);
}

.cnt01 .grid>li .circle {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    background-color: var(--color-point);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all .4s;
}

.cnt01 .grid li .item__inner{
    position: relative;
    transform: translateY(-8px);
    transition: all .4s;
}

.cnt01 .grid>li .icon {
    width: 26%;
}

.cnt01 .grid li .tit {
    margin-top: min(0.4rem, 12px);
    font-size: var(--font-responsive-24to17);
    color: var(--color-point);
}

.cnt01 .grid>li .btn{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 40%;
    cursor: none;
    margin-top: min(0.4rem, 18px);

    transition: all .4s;
    opacity: 0;
}

.cnt01 .grid>li .btn a {
    background-color: var(--color-point);
    padding: 0.2rem 0 0.28rem;
    width: 100%;
    font-size: var(--font-size-sm);
    color: #fff;
    border-radius: 1000px;
}


/* 컨텐츠2 */
.cnt02 section{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.cnt02 section>.artGroup{
    width: 200%;
    display: flex;
    gap: 7%;
    flex-wrap: nowrap;
}
.cnt02 section>.artGroup>article{
    flex: 0 0 12%;
    transition: all 0.5s;
    padding-top: min(2rem,80px);
}
/* .cnt02 section>.artGroup>article:nth-child(3){
    width: calc(100% / 28 * 5);
    margin: 0 calc(100% / 28 * 1.7);
} */
.cnt02 section>.artGroup>article .image{
    width: 100%;
    height: min(10.5rem,340px);
    background-color: #f5f5f5;
    background-size: 80%;
    border-radius: 50%;
    transition: all 0.5s;
    /* clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%); */
}
.cnt02 .i1,.cnt02 .i2,.cnt02 .i5{
    background-size: 80%;
}
.cnt02 section>.artGroup>article .image.i1{
    background-image: url('../../../image/main/product_deltarobot.png');
}
.cnt02 section>.artGroup>article .image.i2{
    background-image: url('../../../image/main/product_scara.png');
}
.cnt02 section>.artGroup>article .image.i3{
    background-image: url('../../../image/main/product_cobot.png');
}
.cnt02 section>.artGroup>article .image.i4{
    background-image: url('../../../image/main/product_control.png');
}
.cnt02 section>.artGroup>article .image.i5{
    background-image: url('../../../image/main/product_case_packer.png');
}
.cnt02 section>.artGroup>article .image.i6{
    background-image: url('../../../image/main/product_vision.png');
}
.cnt02 section>.artGroup>article:nth-child(3) .image{
    /* height: min(11.25rem,450px);
    width: 130%; */
    transform: scale(1.35);
    /* transform-origin: 50% 100%; */
    transition: all 0.5s;
}
.cnt02 article>.texts{
    margin-top: min(1.5rem,60px);
}
.cnt02 article>.texts>h3{
    font-size: min(3.6em,36px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-transform: capitalize;
}
.cnt02 article>.texts>p{
    font-size: min(2.7em, var(--font-size-md));
    line-height: 1.4;
    word-break: keep-all;
}
.cnt02 article>.texts>.btn{
    width: 40%;
    margin-top: min(1.5rem,30px);
    font-size: min(2.7em, var(--font-size-md));
    line-height: min(5.4em,calc(var(--font-size-md) * 2.2));
    text-align: center;
    color: var(--color-point);
    border: 1px solid var(--color-point);
    border-radius: 20px;

    transition: all 0.3s;
}
.cnt02 article>.texts>.btn:hover{
    color: #fff;
    background-color: var(--color-point);
}
.cnt02>section>.slideBtn{
    width: calc(100% / 16 * 7);
    height: min(2rem,80px);
    position: absolute;
    top: min(5rem,200px);
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: min(3.6rem,36px);
    line-height: min(2rem,80px);
    color: #666;
}
.cnt02>section>.slideBtn>div{
    cursor: pointer;
}

/* 컨텐츠3 */
.cnt03 article{
    direction: rtl;
}
.cnt03 .video{
    width: calc(100% / 16 * 10);
    height: min(14rem,560px);
    /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3); */
}
.cnt03 .video video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.cnt03 article>.texts{
    width: calc(100% / 16 * 4.5);
    margin-top: min(1.5rem,60px);
    direction: ltr;
}
.cnt03 article>.texts>ul{
    margin-top: min(2rem,80px);
}
.cnt03 article>.texts>ul>li{
    font-size: min(2.6em,26px);
    color: #aaa;
    line-height: min(2rem,80px);
    position: relative;
    cursor: pointer;
}
.cnt03 article>.texts>ul>li.show{
    color: var(--color-point);
    font-weight: 700;
}
.cnt03 article>.texts>ul>li.show>span{
    width: 63px;
    height: 63px;
    top: 0;
    bottom: 0;
    left: calc(100% / 4.5 * -2.7);
    margin: auto;
    border: 1px solid transparent;
    display: block;
    position: absolute;
    animation: circle 7s linear infinite;
}
.cnt03 article>.texts>ul>li.show>span::after{
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-point);
    opacity: 1;
    width: 7px;
    height: 7px;
    top: -3px;
    right: 0px;
    left: 0px;
    margin: auto;
}
@keyframes circle{
    0% {
        rotate:(0deg)
    }
	50% {
		transform : rotate(180deg)
	}

	100% {
		transform : rotate(360deg)
	}
}
.cnt03 article>.texts>ul>li.show::before{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(100% / 4.5 * -2.7);
    border: 1px dashed #fff;
    position: absolute;
    border-radius: 50%;
}
.cnt03 article>.texts>ul>li.show::after{
    width: calc(100% / 4.5 * 1.7);
    transition: all 0.4s;
}
.cnt03 article>.texts>ul>li::after{
    content: '';
    display: block;
    height: 1px;
    width: 0px;
    background-color: var(--color-point);
    position: absolute;
    left: calc(100% / 4.5 * -2.25);
    top: 0;
    bottom: 0;
    margin: auto;
}
.cnt03 article>.texts>ul>li>h3{
    overflow: hidden;
    white-space: nowrap;
    height: min(2rem, 80px);
    text-overflow: ellipsis;
    word-break: break-all;
}