/* 메인 슬라이드 */
main article>.image{
    height: min(21rem,840px);
}
main article>.texts{
    width: 90%;
    max-width: 700px;
    left: max(calc((100vw - 700px) / 2),calc((100vw - 90%) / 2));
}
main article>.texts>h2{
    font-size: min(4.2em,42px);
}
main article>.texts>p{
    width: 100%;
    font-size: min(1.8em,18px);
}
.mainWrap>ul{
    width: calc(100% / 8 * 1.2);
    bottom: min(1rem,40px);
}
.mainWrap>.scroll{
    display: none;
}

/* 컨텐츠 */
.content{
    width: 90%;
    max-width: 700px;
}
.content>header>h2{
    font-size: min(4.2em,42px);
    line-height: min(1.5rem,60px);
}
section{
    margin-top: min(1rem,40px);
}
.title{
    display: none;
}
.cnt01 section>article,.cnt03 section>article{
    display: block;
}

/* 컨텐츠1 */
.cnt01 article>.image{
    width: 100%;
    height: min(12rem,480px);
}
.cnt01 article>.texts{
    width: 100%;
}
.cnt01 .texts .tit>h3,.cnt01 .texts .tit>i{
    font-size: min(2.4em,24px);
}
.cnt01 .texts .txt>.btn>a{
    width: calc(100% / 8 * 0.5);
}
.cnt01 .texts .txt>p{
    font-size: min(1.6em,16px);
}
/* 컨텐츠2 */
.cnt02 section>.artGroup{
    /* width: calc(100% / 8 * 14); */
}
.cnt02 section>.artGroup>article{
    /* width: calc(100% / 14 * 1.95); */
    padding-top: min(1rem,40px);
}
.cnt02 section>.artGroup>article .image{
    height: min(4.25rem,170px);
}
.cnt02 article>.texts{
    margin-top: min(1rem,40px);
}
.cnt02 article>.texts>h3{
    font-size: min(2.4em,24px);
    line-height: min(1rem,40px);
}
.cnt02 article>.texts>p{
    font-size: min(1.6em,16px);
    line-height: min(0.75rem,30px);
    margin-top: min(0.5rem,20px);
    word-break: break-all;
}
.cnt02 article>.texts>.btn{
    width: calc(100% / 2 * 1.2);
    font-size: min(1.6em,16px);
    line-height: min(0.75rem,30px);
    padding-left: 0px;
    text-align: center;
}
.cnt02>section>.btn{
    width: calc(100% / 8 * 3.7);
    height: min(1rem,40px);
    top: min(3rem,120px);
    font-size: min(3.6rem,36px);
    line-height:  min(1rem,40px);
}
/* 컨텐츠3 */
.cnt03 .video{
    width: 100%;
    height: min(12rem,480px);
    margin-top: min(1rem,40px);
}
.cnt03 article>.texts{
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
}
.cnt03 article>.texts>ul{
    margin-top: 0px;
}
.cnt03 article>.texts>ul>li{
    font-size: min(2.4em,24px);
    line-height: min(1.5rem,60px);
}
.cnt03 article>.texts>ul>li.show>span{
    width: 53px;
    height: 53px;
    left: auto;
    right: 0;
}
.cnt03 article>.texts>ul>li.show::before{
    width: 50px;
    height: 50px;
    left: auto;
    right: 0;
    border: 1px dashed #ccc;
}
.cnt03 article>.texts>ul>li.show::after{
    width: calc(100% / 8 * 1.5);
}
.cnt03 article>.texts>ul>li::after{
    left: auto;
    right: 30px;
}
.cnt03 article>.texts>ul>li>h3{
    height: min(1.5rem,60px);
    width: calc(100% / 8 * 5);
}