/* 컨텐츠 */
.cntWrap{
    margin-top: min(2rem,80px);
}
.content{
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
}
.content>header{
    font-size: min(2.4em,24px);
    line-height: min(1rem,40px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.content>header::after{
    display: block;
    content: '';
    width: calc(100% / 16);
    height: 3px;
    background-color: var(--color-point);
    margin: 0 auto;
}
.content>section{
    margin-top: min(2rem,80px);
}
.artBtm{
    display: flex;
    justify-content: space-between;
}
.artBtm>article:nth-child(1){
    width: calc(100% / 16 * 5.5);
}
.artBtm>article{
    display: flex;
    padding: min(0.5rem,20px) 20px;
    position: relative;
    width: calc(100% / 16 * 3.5);
}
.artBtm>article:nth-last-child(1):after{
    display: none;
}
.artBtm>article::after{
    display: inline-block;
    content: '';
    border-right: 1px dotted #666;
    height: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.artBtm .image{
    width: 50px;
    height: 50px;
    background-color: var(--color-point);
    border-radius: 50%;
    background-image: url('../../../image/company/locationIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 0 5px rgb(0 0 0 / 15%);
}
.artBtm .image.i1{
    background-position: 0 0;
}
.artBtm .image.i2{
    background-position: -50px 0;
}
.artBtm .image.i3{
    background-position: -100px 0;
}
.artBtm .image.i4{
    background-position: -150px 0;
}
.artBtm>article:nth-child(1)>.texts{
    width: calc(100% / 5.5 * 4.8);
}
.artBtm .texts{
    padding-left: 15px;
    line-height: min(1.6rem,25px);
    font-size: min(1.6em,16px);
    width: calc(100% / 3.5 * 2.6);
}
.artBtm .texts>h3{
    text-transform: uppercase;
    font-weight: 700;
}
.artBtm .texts>h5{
    color: #666;
}
.artBtm .texts>h5.tell{
    font-weight: 600;
}
/* 지도 */
.root_daum_roughmap {
    margin: auto !important;
}
.root_daum_roughmap .wrap_controllers {
    display: none !important;
}


