/* 컨텐츠 공통 */
.cntWrap{
    margin-top: min(2rem,80px);
}
.content{
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
}
.content>header{
    font-size: min(2.4em,24px);
    line-height: min(1rem,40px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.content>header::after{
    display: block;
    content: '';
    width: calc(100% / 16);
    height: 3px;
    background-color: var(--color-point);
    margin: 0 auto;
}
.content>section{
    margin-top: min(2rem,80px);
}
/* 컨텐츠1 */
.cnt01 .image{
    width: calc(100% / 16 * 14);
    height: min(14rem,560px);
    margin: 0 auto;
    background-image: url('../../../image/company/sub3_cnt01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cnt01 .texts{
    margin-top: min(3rem,120px);
}
.cnt01 .texts>h3{
    font-size: min(2.8em,28px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-align: center;
}
.cnt01 .texts>p{
    font-size: min(1.8em,18px);
    line-height: min(1.5rem,60px);
    width: calc(100% / 16 * 12.5);
    margin: 0 auto;
    margin-top: min(3rem,120px);
    color: #333;
}
/* 컨텐츠2 */
.cnt02>header>h5{
    font-size: min(1.8em,18px);
    font-weight: normal;
}
.cnt02 section{
    display: flex;
    justify-content: space-between;
}
.cnt02 article{
    width: calc(100% / 3 - 30px);
}
.cnt02 .image{
    height: min(11rem,440px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cnt02 .image.i1{
    background-image: url('../../../image/company/sub3_cnt02_1.png');
}
.cnt02 .image.i2{
    background-image: url('../../../image/company/sub3_cnt02_2.png');
}
.cnt02 .image.i3{
    background-image: url('../../../image/company/sub3_cnt02_3.png');
}
.cnt02 .texts{
    text-align: center;
}
.cnt02 .texts>h3{
    font-size: min(2.8em,28px);
    line-height: min(2rem,80px);
    font-weight: 700;
    color: var(--color-point);
}
.cnt02 .texts>h5{
    font-size: min(1.8em,18px);
    line-height: min(1rem,40px);
    color: #333;
}
