/* 컨텐츠 */
.cntWrap{
    margin-top: min(2rem,80px);
}
.content>section{
    margin-top: min(2rem,80px);
}
.artBtm{
    display: flex;
    justify-content: space-between;
}
.artBtm>article:nth-child(1){
    flex: 1 1 calc(100% / 16 * 6);
}
.artBtm>article{
    flex: 1 1 calc(100% / 16 * 3.3);
    position: relative;
    display: flex;
    padding: min(0.5rem,20px) 20px;
}
.artBtm>article:nth-last-child(1):after{
    display: none;
}
.artBtm>article::after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 35px;
    margin: auto;
    content: '';
    border-right: 1px dotted #666;
}
.artBtm .image{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-color: var(--color-point);
    border-radius: 50%;
    background-image: url('../../../image/company/locationIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.artBtm .image.i1{
    background-position: 0 0;
}
.artBtm .image.i2{
    background-position: -50px 0;
}
.artBtm .image.i3{
    background-position: -100px 0;
}
.artBtm .image.i4{
    background-position: -150px 0;
}
.artBtm .texts {
    flex: 1;
    padding-left: 15px;
    line-height: 1.5;
    font-size: var(--font-responsive-17to13);
}
.artBtm .texts h3{
    text-transform: uppercase;
    font-weight: 700;
}
.artBtm .texts h5{
    color: #666;
}
.artBtm .texts h5.tell{
    font-weight: 600;
}
.artBtm .texts h5.size-up {
    font-size: calc(1em + 1px);
}

/* 지도 */
.root_daum_roughmap {
    margin: auto !important;
}
.root_daum_roughmap .wrap_controllers {
    display: none !important;
}

@media (max-width: 1024px) {
    /* 컨텐츠 */
    .content>section{
        margin-top: min(1rem,40px);
    }
    .root_daum_roughmap .wrap_map{
        height: 440px !important;
    }
    .artBtm{
        flex-wrap: wrap;
        margin-top: min(1rem,40px);
    }
    .artBtm>article{
        flex: 0 0 50%;
        justify-content: center;
        padding: 10px 0.71rem;
    }
    .artBtm>article:nth-child(1){
        width: 50%;
    }
    .artBtm>article:nth-last-child(3):after{
        display: none;
    }
    .artBtm>article:nth-child(1)>.texts{
        width: calc(100% / 4 * 3.3);
    }
    .artBtm .texts{
        width: calc(100% / 4 * 3.3);
        word-break: break-all;
    }
}

@media (max-width: 480px) {
    /* 컨텐츠 */
    .cntWrap{
        margin-top: 40px;
    }
    .content>header{
        font-size: 16px;
        line-height: 40px;
    }
    .content>header::after{
        width: calc(100% / 4 * 0.7);
        height: 2px;
    }
    .content>section{
        margin-top: 40px;
    }
    .artBtm{
        display: block;
    }
    .artBtm>article:nth-child(1){
        width: 100%;
    }
    .artBtm>article{
        width: 100%;
        padding: 10px 5px;
        border-bottom: 1px dotted #666;
    }
    .artBtm>article::after{
        border-right: none;
    }
    .artBtm>article:nth-last-child(1){
        border-bottom: none;
    }
    .artBtm>article:nth-child(1)>.texts{
        width: calc(100% - 50px);
    }
    .artBtm .texts{
        line-height: 25px;
        width: calc(100% - 50px);
    }
}
