html{
    font-size: 5vw;
}
body{
    position: relative;
    font-size: 1.2vw;
    font-family: xeicon;
}
.hdrWrap>header{
    width: 90%;
    max-width: 700px;
}
header>.logo{
    width: calc(100% / 8 * 2);
}
.hdrWrap .nav{
    display: none;
}
.hdrWrap h4{
    width: calc(100% / 8 * 0.4);
    display: block;
}
/* 메뉴 */
.mobileWrap{
    display: block;
    z-index: 30;
    left: 0;
    width: 100%;
    height: 0;
}
.mobileWrap>.mnbg{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 0;
    overflow: hidden;
}
.mobileWrap>.menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 500px;
    margin-left: -500px;
    transition: all 0.5s;
}
.mobileWrap .mnTop{
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    line-height: min(1.75rem,70px);
    background-color: #eee;
}
.mobileWrap .mnTop>.logo{
    width: 160px;
    height: min(1.75rem,70px);
    background-image: url('../../../image/delta_logo1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.mobileWrap .mnTop>h4{
    width: 40px;
    font-size: min(3.2em,32px);
}
.mobileWrap .mnBtm>ul>li{
    padding: 0px 15px;
    color: #333;
}
.mobileWrap .mnBtm>ul>li:nth-child(odd){
    line-height: min(1.5rem,60px);
    font-size: min(2.0em,20px);
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0.2px solid #ddd;
}
.mobileWrap .mnBtm>ul>li:nth-child(odd).aco{
    color: #fff;
    background-color: var(--color-point);
}
.mobileWrap .mnBtm>ul>li:nth-child(even){
    line-height: min(1rem,40px);
    font-size: min(1.6em,16px);
    background-color: #eee;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.mobileWrap .mnBtm>ul>li:nth-child(even).show{
    height: 240px;
}
/* 컨텐츠 */
.content{
    width: 90%;
    max-width: 700px;
}
.content>section{
    margin-top: min(1rem,40px);
}
.root_daum_roughmap .wrap_map{
    height: 440px !important;
}
.artBtm{
    flex-wrap: wrap;
    margin-top: min(1rem,40px);
}
.artBtm>article{
    width: 50%;
    padding: 10px 20px;
}
.artBtm>article:nth-child(1){
    width: 50%;
}
.artBtm>article:nth-last-child(3):after{
    display: none;
}
.artBtm>article:nth-child(1)>.texts{
    width: calc(100% / 4 * 3.3);
}
.artBtm .texts{
    width: calc(100% / 4 * 3.3);
}
/* 풋터 */
.footer{
    width: 90%;
    max-width: 700px;
}
.footer .logo{
    width: calc(100% / 8 * 2);
}
.footer ul{
    width: calc(100% / 8 * 7);
}
.footer ul>li{
    margin-left: 15px;
}
.footer ul>li:nth-child(3){
    margin-left: 0px;
}
.footer ul>li:nth-child(4){
    margin-left: 15px;
}